@font-face {
    font-family: HN;
    src: URL('HN.ttf') format('truetype');
}

body {
    font-family: HN;
    font-size: 10pt;
    color: black;
}

* {
    margin-bottom: 0;
}

.columnize3 {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

.columnize2 {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover, #section-personal-projects a, #contact a, #section-research-projects a, .exc a, #section-coursework-projects a {
    color: #39f;
}

#contact {
    color: #777;
    font-family: monospace,sans-serif;
    font-size: 88%;
    margin-top: 0.33rem;
}

#contact a {
    text-decoration: none;
}

#ghbutton {
    display: none;
    visibility: hidden;
}

h1 {
    margin-bottom: 0;
}

h2 {
    font-weight: normal;
    font-size: 12pt;
    text-transform: uppercase;
    margin-top: 1.2rem;
    margin-bottom: 0;
}

ul {
    list-style-type: disc;
    margin-top: 0;
}

p + ul {
    margin-top: 0;
}

h2 + ul {
    margin-top: 0.80rem;
}

p {
    margin-bottom: 0;
}

.indent {
    padding-inline-start: 77px;
}

.date {
    color: #666;
}

.pb {
    page-break-before: always;
}

.date {
    display: block;
    float: right;
    font-style: normal;
}

.abs-top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.img-size {
    width: 117px;
}
